*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
DMX.X/html/
DMX.X/nbproject/private/
DMX.X/nbproject/Package-*.bash
DMX.X/build/
DMX.X/nbbuild/
DMX.X/dist/
DMX.X/nbdist/
DMX.X/nbactions.xml
DMX.X/nb-configuration.xml
DMX.X/funclist
DMX.X/nbproject/Makefile-*
DMX.X/disassembly/
*.map
